<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>进入停车场</title>
</head>
<body>
<div style="margin: 15% 40%">
    <form action="{% url 'inout:car_in' %}" method="post">
        {% csrf_token %}
        <p>
            <label for="c_no">车牌：</label><input type="text" name="car_no" id="c_no"/>
        </p>
        <p>
            <label for="c_length">车辆长度：</label><input type="text" name="car_length" id="c_length"/>米
        </p>
        <p>
            <label for="c_color">车辆颜色：</label><input type="text" name="car_color" id="c_color"/>
        </p>
        <p>
            <label for="c_type">车辆类型：</label>
            <select name="car_type" id="c_type">
                <option value="小">小</option>
                <option value="中">中</option>
                <option value="大">大</option>
            </select>
        </p>
        <p>
             <label for="c_w_no">停车车位编号：</label>
            <select name="car_w_no" id="c_w_no">
                {% for car_w in car_ws %}
                    <option value="{{ car_w.Car_w_no }}">{{ car_w.Car_w_no }}号车位：长度：{{ car_w.Car_w_length }}米</option>
                {% endfor %}
            </select>
        </p>
        <p>
            <input type="submit" value="进入停车场"/>
        </p>
    </form>
    <a href="{% url 'index' %}"><input type="submit" value="返回首页"/></a>
</div>
{% if info %}
    <script>
            window.alert('{{ info }}');
    </script>
{% endif %}
</body>
</html>