<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>welcome</title>
        <style>
        *{
            margin: 0;
            padding: 0;

        }

        body{
            height: 100vh;
            background-image: linear-gradient(to top, rgba(255,0,0,0), #4169E1	);
        }

        #welcome{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
</head>
<body>

<h1 style="text-align: center ; margin-top: 100px">欢迎管理员：{{ username }}</h1>

</body>
</html>